@import "_breakpoints";

@media screen and (max-width: $mobile) {
    header {
        height: fit-content !important;
    }
    
    nav {
        position: relative !important;
    }

    nav #inner {
        display: block !important;

        span {
            display: block;
            border-top: 1px solid currentColor;
            margin: .5em 0;
        }
    }
}

@media screen and (max-width: $desktop) {
    nav {
        #inner {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}


@media screen and (min-width: $desktop) and (max-width: $desktop-lg) {
    nav {
        #inner {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

@media screen and (min-width: $desktop-lg) {
    nav #inner { 
        grid-template-columns: repeat(7, 1fr);
    }
}